@import "tailwindcss";

@theme {
  --color-primary: #2944cc;
  --color-secondary: #059669;
  --color-background: #f8fafc;

  --color-t-strong: #3d414f;
  --color-t-weak: #545973;
  --color-stroke-strong: #8086a6;
  --color-stroke-weak: #e4e6f0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.ant-pagination .ant-pagination-item-active {
  border: none !important;
  background: transparent !important;
}
